<%= form_for [@conversation, @message] do |form| %>

  <div>
    <% form.hidden_field :user_id, value: current_user.id%>
  </div>

  <div>
    <%= form.label :body%>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit "Send" %>
  </div>
<% end %>