

  <h1>Coversation</h1>

  <% @messages.each do |message|%>
    <%if message.body%>
      <div>
        <%= message.body%>
      </div>
      <div>
        <% user = User.find(message.user_id)%>
        <%= user.name%>
        <%= "at #{message.message_time}"%>
      </div>
    <%end%>
  <%end%>
  <%= render "form"%>