/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  -ms-overflow-style: none !important;
}

.row-height {
  height: 100vh;
  overflow-y: scroll
}

.left{
  height: 100%;
  overflow-y: scroll;
}

.mid{
  height: 100%;
  overflow-y: scroll;
}

.right{
  height: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

textarea.form-control {
  color: #737aaa;
}

.form-control:focus {
  background: #8584bf;
}

.msg-content {
  width: 80%;
  margin-right: 5px;
}

.message-box {
  word-wrap: break-word;
  width: fit-content;
  max-width: 60%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #616263;
  padding: 10px;
}

.msg-form {
  width: 100%;
  height: 56px;
  padding: 10px;
}

.cu-msg {
  background-color: #007bff;
  padding: 10px;
  display: flex;
  justify-content: flex-end
}

.ou-msg {
  background-color: #637095;
  padding: 10px;
  display: flex;
  justify-content: flex-start
}

.inbox-bg {
  background: #372c51;
}

textarea {
  resize: none;
}

.palette{
  background-color: #372c51;
  background-color: #637095;
  background-color: #737aaa;
  background-color: #8584bf;
  background-color: #9e95d5; 
  background-color: #b8a6ea;

  background-color: #d3b8fd;

  background-color: #c5bbff;
  background-color: #bfc6ff;
  background-color: #bfc6ff;
  background-color: #c8edff;
  background-color: #cdfeff;
  background-color: #d3ffff
}



/* ***************************************************** */

{ box-sizing: border-box; margin: 0; padding: 0; }
nav {
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;  
  border: 1px solid red;
  height: 175px;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}
nav:hover, nav.toggleNav {
  top: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a137a7;
  font-family: 'Source Sans Pro', sans-serif;
  opacity: .8;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
}
/* Hover color */

li a:hover {
  background-color: #732878;
}
.footer {
  color: #fff;
  clear: both;
  margin: 0em 0em 0em 0em;
  padding: 0.70em 0.75em;
  background: #000;
  font-family: 'Source Sans Pro', sans-serif;
  top: 490px;
  border-top: 1px solid #000;
  opacity: .7;
}
.hover {
  width: 50px;
  height: 50px;
  background: lightblue;
  margin-top: 200px;
}